header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 10px;
}

body{
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(87, 183, 87), black,rgb(169, 221, 241));
    background-size: 600%, 600%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}


.header {
    display: flex;
    height: 250px;
    width:100vw;
    background: black;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(169, 221, 241),rgb(87, 183, 87))1;
    filter: drop-shadow(0px 0px 30px rgb(78, 231, 116));
    }

.footer {
    display: flex;
    height: 250px;
    width: 100vw;
    background: black;
    filter: drop-shadow(0px 0px 30px rgb(78, 231, 116));
}
.body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background: transparent;
}


