.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(87, 183, 87), black,rgb(169, 221, 241));
    background-size: 600%, 600%;
    animation: gradientAnimation 10s infinite alternate;
    animation-fill-mode: both;
    
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}

.header {
    display: flex;
    height: 250px;
    width:1500px;
    background: black;
    background: linear-gradient(137deg, rgb(169, 221, 241),rgb(87, 183, 87));
    
    border-radius: 30px;
    filter: drop-shadow(0px 0px 30px rgb(78, 231, 116));
    
   

    
}
.header::after {
    content: '';
    background-color: #181818;
    position: absolute;
    z-index: 1;
    height: 246px;
    width: 1596;
    top: 2px;
    left: 2px;
    right: 2px;
    border-radius: 28px;
  }
  
      