h1{
    color: white 2px;
    font-size: 40px;
}

.SectionColumnas li{
    list-style: none;
    padding-left: 20px;
    position: relative;
}
.SectionColumnas li ::before{
    content: '•';
    color: rgba(5, 188, 255, 0.698);
    position: absolute;
    left: 0;
}
header {
    
    
    display: flex;
    height: 130px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.202);
    padding: 15px;
   }
header .logo img{
    margin-top: 8px;
    width: 105px;
    height: 105px;    
    border-radius: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;

    padding: 5%;
}


nav > div > a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    margin-left: 2vw;
    margin-right: 10vw;
    border-bottom: 1.5px solid rgb(9, 79, 255);
    font-family: 'Speedlimit-italic';
}
nav > div > a:hover{
    font-size: 32px;
    color:rgb(255, 255, 255);
    border-bottom: 1px double rgb(9, 222, 255);
    transition: 0.7s;
    font-family: 'Speedlimit-bold';
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


body {
    /*todo: el height no va, a medida que se van agregando divs se va a acomodar el fondo*/
   
    width: 1920px;    
    display: flex;
    overflow-x: hidden;
    flex-direction: column;   
    background: linear-gradient(45deg,rgb(169, 221, 241,0.15), rgba(0, 0, 0, 0.508), rgb(169, 221, 241,0.15), rgba(0, 0, 0, 0.508), rgba(0, 0, 0, 0.508),rgb(169, 221, 241,0.15));
    background-size: 200%,200%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    position: relative;
    margin: 0 ;
    background-color: black;
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}
.titulo {
    font-family: 'Speedlimit-italic';
    padding: 20px;
    margin-right: 60px;
}

.titles {
   font-family: 'Speedlimit-italic';
    
    
    color: rgb(191, 249, 249);
}
@font-face {
    font-family: 'Speedlimit';
    src: url('fonts/SpeedLimitDemoRegular.ttf');
    
}
@font-face {
    font-family: 'Speedlimit-italic';
    src: url('fonts/SpeedLimitDemoItalic.ttf');
}
@font-face {
    font-family: 'Speedlimit-bold';
    src: url('fonts/SpeedLimitDemoBold.ttf');
}

.footerCompleto{
    margin-top: 200px;
    transition: 3s;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.202);
    padding: 15px;
}
.footerCompleto img{
    width: 97px;
    height: 97px;
}
.footerCompleto:hover{
    transition: 3s;
    border-top: 1.5px solid;
    border-color: cadetblue;
    box-shadow: rgba(255, 255, 255, 0.057) 0px -15px 15px 0px;
    
}
.footerCompleto:hover img {
    cursor: pointer;
}
.categoria ul{
    padding: 0px;
    margin: 0 ;
    display: flex;
    flex-direction: row;
}
.categoria li{
    margin-right: 20px;
    list-style: none;
}

.derechos{
    color: rgba(255, 255, 255, 0.401);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.202);
    
}
.Planes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 1920px;
    height: 900px;
}
.Planes .columnas h1{
    font-size: 50px;
    
}
.Planes .columnas p{
    color: white;
    font-size: 30px;
}
.SectionColumnas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    width: 1920px;
    height: 900px;
    
}
.columnas{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white ;
    width: 550px;
    height: 550px;
    transition: 1s;
    border: 1px solid rgba(5, 188, 255, 0.698);
    margin-right: 40px;
    border-radius: 60px;

}
.columnas:hover{
    transition: 1s;
    width: 630px;
    height: 630px;
}
.columnas:hover,h1{
    font-size: 50px;
}

.columnas .titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgba(5, 188, 255, 0.698);
    border-radius: 20px;
    text-align: center;
}

.nuestrosPlanes h1{
    font-size: 70px;
    color: white;
    
    
}

.nuestrosPlanes h1 {
    position: relative;
    padding-bottom: 20px; /* Ajusta según sea necesario */
}


.nuestrosPlanes h1::before, .nuestrosPlanes h1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top:100%;
    border-bottom: 2px solid rgba(5, 188, 255, 0.698); /* Línea superior */
    
}
.nuestrosPlanes h1::after {
    top: 100%;
    width: 50%;
    border-bottom: 2px solid rgba(5, 188, 255, 0.698); /* Línea inferior más pequeña */
    transform: translateY(16px); /* Ajusta la distancia entre las líneas */
    left: 25%;
}
.partners{
    margin-top: 10px;
    display: flex;
    color: white;
    font-size: 110px;
    width: 90%;
    height: 95vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 2s;
}
.partners h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1900px;
    height: 700px;
    border-left:   2px solid rgba(5, 188, 255, 0.698) ;
    border-right: 2px solid rgba(5, 188, 255, 0.698);
    border-bottom: 1px solid rgba(5, 188, 255, 0.698);
    border-top: 1px solid rgba(5, 188, 255, 0.698);
    transition: 1s;
    border-radius: 80px;
    
}
.partners h2:hover{
    
    border-left:   17px solid rgba(5, 188, 255, 0.698) ;
    border-right: 2px solid rgba(5, 188, 255, 0.698);
    border-bottom: 3px solid rgba(5, 188, 255, 0.698);
    border-top: 3px solid rgba(5, 188, 255, 0.698);
    transition:1s;
}
.carro{    
    
    width: 1880px;
    height: 900px;
    margin-top: 170px;
    margin-bottom: 220px;
    margin-left: -17px;
}
.imagen{    
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
   
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-radius: 50px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
.imagen img.fade-out {
    opacity: 0;
}

.imagen .boton button {
    font-size: 40px;    
    height: 70px;
    width: 40px;
    background-color: transparent;
    border-style: 1px black;
    border-radius: 8px;
    margin: 0 auto;
    transition: 1s;
}

.imagenWilliams {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-radius: 50px;
    border-left: 2px solid rgba(5, 188, 255, 0.698);
    border-right: 2px solid rgba(5, 188, 255, 0.698);
}

.botonWilliams {
    font-size: 40px;    
    height: 70px;
    width: 40px;
    background-color: transparent;
    border-style: none;    
    border-radius: 8px;
    margin: 0 auto;
    transition: 1s;
    color: rgba(5, 188, 255, 0.698);
    border-top: 2px solid rgba(5, 188, 255, 0.698);
    border-bottom: 2px solid rgba(5, 188, 255, 0.698);
}

.imagenFerrari {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-radius: 50px;
    border-left: 2px solid rgba(255, 5, 5, 0.698);
    border-right: 2px solid rgba(255, 5, 5, 0.698);
}

.botonFerrari {
    font-size: 40px;    
    height: 70px;
    width: 40px;
    background-color: transparent;
    border-style: none;    
    border-radius: 8px;
    margin: 0 auto;
    transition: 1s;
    color: rgba(255, 5, 5, 0.698);
    border-top: 2px solid rgba(255, 5, 5, 0.698);
    border-bottom: 2px solid rgba(255, 5, 5, 0.698);
}

.imagenMcLaren  {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-radius: 50px;
    border-left: 2px solid rgba(255, 105, 5, 0.698);
    border-right: 2px solid rgba(255, 105, 5, 0.698);
}

.botonMcLaren {
    font-size: 40px;    
    height: 70px;
    width: 40px;
    background-color: transparent;
    border-style: none;    
    border-radius: 8px;
    margin: 0 auto;
    transition: 1s;
    color: rgba(255, 105, 5, 0.698);
    border-top: 2px solid rgba(255, 105, 5, 0.698);
    border-bottom: 2px solid rgba(255, 105, 5, 0.698);
}

.imagenRedBull {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-radius: 50px;
    border-left: 2px solid rgba(101, 5, 255, 0.698);
    border-right: 2px solid rgba(101, 5, 255, 0.698);
}

.botonRedBull {
    font-size: 40px;    
    height: 70px;
    width: 40px;
    background-color: transparent;
    border-style: none;    
    border-radius: 8px;
    margin: 0 auto;
    transition: 1s;
    color: rgba(101, 5, 255, 0.698);
    border-top: 2px solid rgba(101, 5, 255, 0.698);
    border-bottom: 2px solid rgba(101, 5, 255, 0.698);
}

.imagen .boton:hover button {
    font-size: 50px;
    height: 95px;
    width: 60px;
    transition: 1s;
    border-radius: 25px;
}

