.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgb(120, 213, 241), black, rgb(142, 239, 142));
    background-size: 600%, 600%;
    animation: gradientAnimation 10s infinite;
    animation-fill-mode: forwards;
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}