.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(87, 183, 87), black,rgb(169, 221, 241));
    background-size: 600%, 600%;
    animation: gradientAnimation 10s infinite alternate;
    animation-fill-mode: both;
    backdrop-filter: blur(100px);
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}