
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    
    padding: 5%;
}


nav > div > a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    margin-left: 2vw;
    margin-right: 10vw;
    border-bottom: 1.5px solid rgb(9, 222, 255);
    font-family: 'Speedlimit-italic';
}
nav > div > a:hover{
    font-size: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 1px double rgb(255, 255, 9);
    transition: 0.8s;
    font-family: 'Speedlimit-bold';
}

body{
    margin: 0;
}


.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 120%;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(87, 183, 87), black,rgb(169, 221, 241));
    background-size: 300%, 300%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}


.header {
    display: flex;
    height: 130px;
    justify-content: flex-start;
    align-items: center;
    width:max-content;
    padding: 15px;
   }
.header .logo img{
    margin-top: 8px;
    width: 140px;
    height: 140px;    
    border-radius: 100px;
}
.titulo {
    font-family: 'Speedlimit-italic';
    padding: 20px;
    margin-right: 60px;
}

.quienesSomos{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;
}
.quienesSomos > h3{
    font-size: 55px;
    rotate: 180deg;
    font-family: 'Speedlimit-bold';    
}

.body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    background: transparent;
    padding: 2%;
}
.titles {
   font-family: 'Speedlimit-italic';
    
    
    color: rgb(191, 249, 249);
}
@font-face {
    font-family: 'Speedlimit';
    src: url('fonts/SpeedLimitDemoRegular.ttf');
    
}
@font-face {
    font-family: 'Speedlimit-italic';
    src: url('fonts/SpeedLimitDemoItalic.ttf');
}
@font-face {
    font-family: 'Speedlimit-bold';
    src: url('fonts/SpeedLimitDemoBold.ttf');
}

