

.flex-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(87, 183, 87), black,rgb(169, 221, 241));
    background-size: 300%, 300%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    
    
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}


.header {
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding-top: 2%;
    padding-left: 2%;
    
    
   
    }
.header .logo img{
    margin-top: 1vw;
    width: 140px;
    height: 140px;    
    border-radius: 100px;
}
.titulo {
    font-family: 'Speedlimit-italic';
    padding: 2%;
    margin-right: 10%;
}

.quienesSomos{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;
}
.quienesSomos h3{
    font-size: 150px;
    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background: transparent;
}
.titles {
   font-family: 'Speedlimit-italic';
    
    
    color: rgb(191, 249, 249);
}
@font-face {
    font-family: 'Speedlimit';
    src: url('fonts/SpeedLimitDemoRegular.ttf');
    
}
@font-face {
    font-family: 'Speedlimit-italic';
    src: url('fonts/SpeedLimitDemoItalic.ttf');
}
@font-face {
    font-family: 'Speedlimit-bold';
    src: url('fonts/SpeedLimitDemoBold.ttf');
}



nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li {
    
    list-style: none;
    
}
nav ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    margin-left: 3vw;
    margin-right: 11vw;
    border-bottom: 1.5px solid rgb(9, 222, 255);
}
nav ul li a:hover{
    font-size: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 1px double rgb(255, 255, 9);
    transition: 0.8s;
}

body{
    
    margin-left: auto;
    margin-top: auto;
    margin-right: 0;
}
