
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    
    padding: 5%;
}


nav > div > a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    margin-left: 2vw;
    margin-right: 10vw;
    border-bottom: 1.5px solid rgb(9, 222, 255);
    font-family: 'Speedlimit-italic';
}
nav.azul > div > a:hover{
    font-size: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 1px double rgb(255, 255, 9);
    transition: 0.8s;
    font-family: 'Speedlimit-bold';
    text-shadow: 2px 2px 5px red;
}
nav.rojo > div > a:hover{
    font-size: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 1px double rgb(255, 255, 9);
    transition: 0.8s;
    font-family: 'Speedlimit-bold';
    text-shadow: 2px 2px 10px rgb(169, 221, 241);
}

body{
    margin: 0;
}


.flex-container {
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 120%;
    background: linear-gradient(45deg,rgb(169, 221, 241), black, rgb(144, 199, 144), black, rgb(169, 221, 241), black, rgb(144, 199, 144));
    background-size: 200%, 200%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    
    
}
.flex-containerPlanes {
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 120%;
    background: linear-gradient(-45deg,rgb(169, 221, 241), black, rgb(214, 3, 3),  rgb(11, 15, 17), black, rgb(214, 3, 3));
    background-size: 200%, 200%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;
    
    
    
}
@keyframes gradientAnimation {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}


.header {
    display: flex;
    height: 130px;
    justify-content: flex-start;
    align-items: center;
    
    padding: 15px;
   }
.header .logo img{
    margin-top: 8px;
    width: 140px;
    height: 140px;    
    border-radius: 100px;
}
.titulo {
    font-family: 'Speedlimit-italic';
    padding: 20px;
    margin-right: 60px;
}
.titulo h1.azul{
    color: whitesmoke; 
    font-family: 'Speedlimit'; 
    text-shadow: 2px 2px 5px red;
}
.titulo h1.rojo{
    color: whitesmoke; 
    font-family: 'Speedlimit'; 
    text-shadow: 2px 2px 10px rgb(169, 221, 241);
}

.quienesSomos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px; 
    
}
.quienesSomos > h3{
    font-size: 55px;
    rotate: 180deg;
    font-family: 'Speedlimit-bold';    
    color: whitesmoke; 
    writing-mode: vertical-rl; 
    letter-spacing: 6px; 
    text-shadow: 2px 2px 5px red;
}
#tituloInternet{
    font-size: 40px;
}

.body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    background: transparent;
    padding: 2%;
}
.titles {
   font-family: 'Speedlimit-italic';
    
    
    color: rgb(191, 249, 249);
}
@font-face {
    font-family: 'Speedlimit';
    src: url('fonts/SpeedLimitDemoRegular.ttf');
    
}
@font-face {
    font-family: 'Speedlimit-italic';
    src: url('fonts/SpeedLimitDemoItalic.ttf');
}
@font-face {
    font-family: 'Speedlimit-bold';
    src: url('fonts/SpeedLimitDemoBold.ttf');
}
.text-quienes{
    
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 5px red;
    text-wrap: balance;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 40%;
    line-height: 40px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-color: cadetblue;
    padding-left: 1%;
    align-items: center;
    justify-content: center;
}
.text-quienes img{
    opacity: 0.2;
    height: 70% ;
    width: 80%;
    border-radius: 20px;
    transition: 1s;
}
.text-quienes img:hover{
    opacity: 10;
    box-shadow: white 0px 0px 50px 10px;
    transition: 1s;
}