h1 {
    color: white 2px;
    font-size: 150px;
}

li {
    list-style: none;
}

header {
    display: flex;
    height: 130px;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.202);
    padding: 15px;
}

header .logo img {
    margin-top: 8px;
    width: 105px;
    height: 105px;
    border-radius: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;

    padding: 5%;
}


nav>div>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    margin-left: 2vw;
    margin-right: 10vw;
    border-bottom: 1.5px solid rgb(9, 79, 255);
    font-family: 'Speedlimit-italic';
}

nav>div>a:hover {
    font-size: 32px;
    color: rgb(255, 255, 255);
    border-bottom: 1px double rgb(9, 222, 255);
    transition: 0.7s;
    font-family: 'Speedlimit-bold';
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
}





body {
    /*todo: el height no va, a medida que se van agregando divs se va a acomodar el fondo*/
    
    width: 1920px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(169, 221, 241, 0.15), rgba(0, 0, 0, 0.508), rgb(169, 221, 241, 0.15), rgba(0, 0, 0, 0.508), rgba(0, 0, 0, 0.508), rgb(169, 221, 241, 0.15));
    background-size: 200%, 200%;
    animation: gradientAnimation 18s infinite alternate;
    animation-fill-mode: both;

    position: relative;
    margin: 0;
    background-color: black;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

}


.titulo {
    font-family: 'Speedlimit-italic';
    padding: 20px;
    margin-right: 60px;
}

.titles {
    font-family: 'Speedlimit-italic';


    color: rgb(191, 249, 249);
}

@font-face {
    font-family: 'Speedlimit';
    src: url('fonts/SpeedLimitDemoRegular.ttf');

}

@font-face {
    font-family: 'Speedlimit-italic';
    src: url('fonts/SpeedLimitDemoItalic.ttf');
}

@font-face {
    font-family: 'Speedlimit-bold';
    src: url('fonts/SpeedLimitDemoBold.ttf');
}

.footerCompleto {
    transition: 3s;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.202);
    padding: 15px;
    margin-top: 10px;
}

.footerCompleto img {
    width: 97px;
    height: 97px;
}

.footerCompleto:hover {
    transition: 3s;
    border-top: 1.5px solid;
    border-color: cadetblue;
    box-shadow: rgba(255, 255, 255, 0.057) 0px -15px 15px 0px;

}

.footerCompleto:hover img {
    cursor: pointer;
}

.categoria ul {
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.categoria li {
    margin-right: 20px;
}

.derechos {
    color: rgba(255, 255, 255, 0.401);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.202);

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    margin-bottom: 50px;


}

.formulario {
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 800px;
    height: 100%;
    transition: 1s;
    border: 1px solid rgba(5, 188, 255, 0.698);
    border-radius: 60px;
    padding: 0;
    padding-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;

}

.formulario:hover {
    transition: 1.5s;
    border: 2px solid;
    border-radius: 96px;
    border-color: cadetblue;
    opacity: 2;
    box-shadow: rgba(255, 255, 255, 0.286) 0px 0px 30px 2px;
    transition: 1s;
}



.formulario .top {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(5, 188, 255, 0.698);
    border-radius: 60px;
}

.formulario .boxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 5%;
    padding: 2%;

}



.formulario>form {
    width: 70%;
}

.formulario .boxes>label {
    display: flex;
    padding-bottom: 2%;
    padding-left: 3%;
    width: 100%;
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
}

.formulario .boxes>input{
    width: 700px;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 2px solid rgba(5, 188, 255, 0.698);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formulario .boxes>input:hover {
    transition: 1.5s;
    border-bottom: 2px solid;
    border-radius: 15px;
    border-color: cadetblue;
    opacity: 2;
    box-shadow: rgba(255, 255, 255, 0.286) 0px 0px 30px 2px;
    transition: 1s;
}

.formulario .boxes>textarea{
    width: 700px;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 2px solid rgba(5, 188, 255, 0.698);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.formulario .boxes>textarea:hover {
    transition: 1.5s;
    border-bottom: 2px solid;
    border-radius: 15px;
    border-color: cadetblue;
    opacity: 2;
    box-shadow: rgba(255, 255, 255, 0.286) 0px 0px 30px 2px;
    transition: 1s;
}

.botonSubmit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton {
    position: relative;
    transition: 2s ease;
    cursor: pointer;
    width: 40%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: 3px ridge #1399e6;
    border-right: 3px ridge #149CEA;
    outline: none;
    background: (circle, black 100%, cadetblue 0%);
    font-weight: bold;
    cursor: pointer;
}

.boton:hover {
    transition: 2s ease;
    border:3px ridge #149CEA ;
    box-shadow: rgba(255, 255, 255, 0.286) 0px 0px 50px 2px;
    text-shadow: 2px 2px 5px rgb(1, 171, 160);
    font-size: 30px;
    
   
}

.boton::before {
    content: "";
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    width: 100%;
    height:100%;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.2) 1%, rgba(95, 158, 160, 0.3) 10%, transparent 98%);
    transition: all 1s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    
}

.boton:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.mensajeError {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: red;
    
}

#contactos {
    display: none;
    padding: 5%;
    color: rgb(191, 249, 249);
    font-size:20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#contactos>h1 {
    font-size: 30px;
    font-family: 'Speedlimit-bold';
}